/* latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./font.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
}

section div.show_num {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #dcdbe1;
    position: relative;
}

section div.show_num div.show_num_child {
    position: absolute;
    top: 11px;
    left: -185px;
}

section table.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

section table.calculator tr td input.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
    margin-top: 12px;
    padding: 14px;
}

section table.calculator tr td input#btn {
    background-color: #e12929;

}

section table.calculator tr td input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #428493;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
    padding: 15px;
}

section table.calculator tr td input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}